*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Signing
*.jks
*.keystore
*.p12
*.pfx

# Firebase
app/google-services.json

# Secrets
*.env
credentials.json
